body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    padding-right: 1rem;
    height: 90px;
    z-index: 1000;
}
header .logo{
    display: flex;
    margin: 0 2rem;
    gap: .5rem;
    flex: .5;
}
header .logo h2{
    font-size: 30px;
    margin: auto;
    color: #0E2EB5;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header .logo small{
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9.5px;
    font-weight: bold;
    text-transform: uppercase;
}
header .logo img{
    width: clamp(40px, 5vw, 80px);
    height: auto;
}
header .search{
    margin: auto 0;
    width: 30vw;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(243, 239, 239);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}
header .search input{
    width: 70%;
    padding: .7rem;
    border: none;
    border-radius: 4px;
    outline: none;
    background: transparent;
}
header .cart{
    flex: .3;
    display: flex;
    gap: .5rem;
    color: black;

}
header .cart-icon{
    display: flex;
    align-items: center;
    gap: .4rem;
    margin: auto;
    font-size: 18px;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
header .cart-icon i{
    font-size: 24px;
}
header nav{
    width: 27vw;
    margin: 0 auto;
    display: flex;
    margin-right: 1rem;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;  
    margin-left: -2rem;
}
header nav ul li{
    cursor: pointer;
    padding: .3rem;
    border-radius: 4px;
    display: flex;
    padding: .6rem;
    height: 30px;
    text-align: center;
    align-items: center;
}
header nav ul li a{
    margin: auto;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    outline: none;
}
header nav ul li:hover{
    color: black;
    padding: .6rem;
    background-color: rgb(243, 239, 239);
}
header nav ul li a:hover{
    color: black;   
}
nav  .dropdown{
    position: absolute;
    top: 65px;
    height: 300px;
    width: 200px;
    left: 75%;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    display: none;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.15);
}
nav .dropdown ul{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav .dropdown ul li{
    width: 80%;
}
nav .dropdown ul li a{
    font-weight: 400;
    font-size: 15px;
    display: flex;
    column-gap: 5px;
    width: 100%;
}
nav ul .drop:hover .dropdown{
    display: block;
}
nav ul .drop a{
    display: flex;
    align-items: center;
    height: 30px;
}
nav ul .drop a:hover .bi-chevron-down{
    transform: rotate(180deg);
}
.bi-list {
    display: none;
}
.hero {
    height: 90vh;
    display: flex;
    padding-top: 2rem;
    align-items: start;
    text-align: center;
    color: rgb(19, 18, 18);
}
.hero img {
  min-width: 35vw;
  height: 100vh;
  margin: 0 auto;
  background: transparent;
}
/* Dark overlay for better text visibility */
.hero-content {
  max-width: 500px ;
  height:90%;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  border-radius: 10px;
  text-align: start;
  color: black;
}
.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.hero button {
  padding: 12px 25px;
  background: #ff6600;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.collections{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.collection-grid{
    display: flex;
    margin: 0 auto;
    width: 95%;
    gap: 2rem;
    padding: 1rem;
}
.collection-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
    width: 25vw;
    height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.collection-item h3{
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.collections img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.collections img{
    background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
    width: 90%;
    height: 25vh;
    border-radius: 10px;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.update{
    background-color: rgb(243, 239, 239);
    border-radius: 10px;
    width: 95px;
    padding: 0 10px;
    height: 50px;
}
.cupdate{
    font-weight: 600;
    font-size: 15px;
    margin-left: 2px;
}
.cupdate a{
    text-decoration: none;
    outline: none;
    color: black;
}
.card {
  background: #fff;
  border-radius: 14px;
  padding: 15px;
  box-shadow: 0 10px 18px -8px rgba(0,0,0,0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: 400;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 28px -10px rgba(0,0,0,0.25);
}
.card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  background: none;
}
.card h3 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: 400;
}

.card p {
  font-weight: bold;
  color: #2c3e50;
}
.card button {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.cart-count button{
    height: 15px;
    padding:  0 10px;
    margin: 0;
}
.card button:hover {
  background: #333;
  transform: scale(1.05);
}
.deal{
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem auto;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.enter{
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 90vh;
    background: rgb(234, 232, 232);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
.cartpage{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.cartmenu{
    display: none;
}
.cartmenu_none{
    display: block;
}
 .productdetails{
    width: 60%;
    height: 89%;
    background-color: white;
    overflow-x: scroll;
}
.productdetails::-webkit-scrollbar{
    display: none;
}
.productsum{
    width: 25%;
    padding: 10px;
    background-color: white;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.oderplace{
    border: none;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: rgb(245, 106, 56);
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.productdetails .cart-item{
    display: grid;
    width: 60%;
    grid-template-areas: "img p" "img span" ;
    margin: 1rem auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(241, 238, 238);
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;

}
.productdetails .cart-item img{
    grid-area: img;
}
.productdetails .cart-item p{
    grid-area: p; 
    width: 25vw;
}
.productdetails .cart-item span{
    grid-area: span; 
    width: 25vw;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.productdetails .cart-item span button{
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: transparent;
}
.productdetails .cart-item span button:hover{
    color: blue;
}

.productsum p{
    min-height: 20vh;
    margin: 0px 5px;
    background-color: rgb(241, 238, 238);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.productsum text{
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 8vh;
    font-size: 14px;
    padding: 0 10px;
    margin: 10px 0;
}
.empty{
  text-align:center;
  color:#777;
  font-weight: 600;
  margin: auto;
  inset: 0;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    border-top: 1px solid #ddd;
    box-shadow: 10px 5px 6px 10px rgba(0, 0, 0, 0.15);
}
footer .group_one{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
footer .group_one ul{
    list-style-type: none;
    margin: 0 auto;
}
footer .group_one ul h3{
    font-size: 13px;
    font-weight: 100;
    color: gray;
}
footer .group_one ul li a{
    font-size: 13px;
    text-decoration: none;
    outline: none;
    color: black;
}
footer .group_one .section_one{
    display: flex;
    width: 53%;
}
footer .group_one .section_two{
    display: flex;
    width: 45%;
    padding-left: 1rem;
    border-left: 1px solid black;
    gap: 1rem;
}
footer .group_one .section_two div{
    width: 20vw;
}
footer .group_one .section_two div .icons{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
footer .group_one .section_two div .icons i{
    font-size: 20px;
    color: black;
}
footer .group_one .section_two p{
    font-size: 13px;
    font-weight: 100;
    color: gray;
}
footer .group_one .section_two span{
    font-size: 13px;
    color: black;
}
footer .group_two{
    display: flex;
    justify-content: space-around;
    color: black;
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 950px)  {
    .logo{
        gap: .2rem;
    }
    .bi-list{
        display: block;
        margin: auto 0;
        font-size: 34px;
        cursor: pointer;
    }
    header nav{
        display: none;
        position: absolute;
        top: 65px;
        left: 25px;
        border-radius: 10px;
        margin: auto;
        width: 90%;
        background-color: white;
        border: 1px solid #ddd;
    }
    header nav ul{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    } 
    header nav ul li:hover{
        background-color: transparent;
    }
    header nav.active{
        display: block;
    }
    nav  .dropdown{
    top: 130px;
    height: 320px;
    width: 200px;
    text-align: center;
    left: 55%;
    }
    nav .dropdown ul{
        margin-left: .5rem;
    }
    nav .dropdown ul li{
    width: 80%;
    }
    nav .dropdown ul li:hover{
        background-color: rgb(243, 239, 239);
        color: black;
    }
    header .search{
        flex: 2;
        margin-right: .5rem;
    }
    .hero{
        flex-direction: column-reverse;
        align-items: center;
    }
    .hero img{
        padding-top: 2rem;
        width: 20vw;
        height: 40vh;
    }
    .collection-grid{
        display: grid;
        grid-template-columns: repeat(3, minmax(10px, 1fr));
    }
    .collection-item{
        width: 26vw;
        height: 200px;
        padding: .5rem 0;
    }
    .group_one{
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }
    footer .group_one .section_one{
        margin-bottom:1rem ;
        width: 100%;
    }
    footer .group_one .section_two{
        border-left: none;
        width: 100%;
        border-top: 1px solid white;
    }
    footer .group_one .section_two div{
        width: 100%;
    }
    .cartpage{
        height: 100vh;
    }
}
@media (max-width: 550px){
    body{
        width: 100vw;
    }
    header{
        width: 100%;
    }
    header .logo{
        text-align: center;
    }
    header .logo h2{
        font-size: 18px;
    }
    header .logo small{
        font-size: 10px;
      width: 100%;
    }
    footer{
        width: 107%;
    }
    footer .group_one .section_one{
        width: 95%;
    }
    footer .group_one .section_two{
        width: 95%;
    }
    footer .group_one .section_one ul{
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 650px){
    header .logo{
        width: 30%;
    }
    .hero{
        flex-direction: column-reverse;
        padding-top: 5rem;
        height: 90vh;
    }
    .hero h1 {
        font-size: 32px;
    }
    .hero img {
        min-width: 250px;
        height: 350px;
    }
    .enter{
        overflow-y: scroll;
        min-height: 120vh;
    }
    .cartpage{
        flex-direction: column;
        height: 100vh;
        overflow-y: scroll;
        background-color: white;
        align-items: start;
        justify-content: start;
        width: 100%;
    }
    .productdetails{
        width: 90%;
        height: 40%;
        margin: 0 auto;
        background-color: transparent;
    }
    .productdetails .cart-item{
        width: 90%;
        background-color: transparent;
    }
    .productdetails .cart-item p{
        min-width: 55vw;
    }.productdetails .cart-item span{
        min-width: 55vw;
    }
    .productsum{
        width: 70%;
        margin: 0 auto;
        height: 45vh;
        margin-bottom: 1rem;
    }
    .productsum h4{
        margin: 0 auto;
    }
    .productsum .productmenu p{
        height: 30vh;
        margin: 1rem 0;
        justify-content: center;
        align-items: center;
    }
    .productsum .productmenu text{
        height: 10px;
        width: 70%;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
}