body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    background-image: url("../assets/header.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    padding-right: 1rem;
    height: 90px;
}
header .logo{
    display: flex;
    margin: 0 2rem;
    gap: .5rem;
    flex: .5;
}
header .logo h2{
    font-size: 30px;
    margin: auto;
    color: #0E2EB5;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header .logo small{
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9.5px;
    font-weight: bold;
    text-transform: uppercase;
}
header .logo img{
    width: clamp(40px, 5vw, 80px);
    height: auto;
}
header .search{
    margin: auto 0;
    width: 30vw;
    text-align: center;
    border: 4px solid orange;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}
header .search input{
    width: 70%;
    padding: .7rem;
    border: none;
    border-radius: 4px;
    outline: none;
}
header .cart{
    flex: .2;
    display: flex;
    gap: .5rem;
}
header .cart-icon{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: auto;
    font-size: 18px;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
}
header .cart-icon i{
    font-size: 24px;
}
header nav{
    flex: 1;
    width: 40vw;
    display: flex;
    margin-right: 1rem;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;  
    margin-left: -2rem;
}
header nav ul li{
    cursor: pointer;
    padding: .3rem;
    border-radius: 4px;
    display: flex;
    padding: .6rem;
    text-align: center;
    align-items: center;
}
header nav ul li a{
    margin: auto;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    outline: none;
}
header nav ul li:hover{
    color: black;
    padding: .6rem;
    background-color: rgb(243, 239, 239);
}
header nav ul li a:hover{
    color: #0E2EB5;   
}
.bi-list {
    display: none;
}
.hero {
    background-image: url("../assets/hero.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    height: 95vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(19, 18, 18);
}
.hero img {
  min-width: 35vw;
  height: 100vh;
  margin: 0 auto;
  background: transparent;
}
/* Dark overlay for better text visibility */
.hero-content {
  max-width: 500px ;
  height:90%;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  border-radius: 10px;
  text-align: start;
  color: white;
}
.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.hero button {
  padding: 12px 25px;
  background: #ff6600;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 950px)  {
    .logo{
        gap: .2rem;
    }
    .bi-list{
        display: block;
        margin: auto 0;
        font-size: 34px;
        cursor: pointer;
    }
    header nav{
        display: none;
        position: absolute;
        top: 65px;
        left: 25px;
        border-radius: 10px;
        margin: auto;
        width: 90%;
        background-color: white;
        border: 1px solid #ddd;
    }
    header nav ul{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    } 
    header nav ul li:hover{
        background-color: transparent;
    }
    header nav.active{
        display: block;
    }
    header .search{
        flex: 2;
        margin-right: .5rem;
    }
}
@media (max-width: 550px){
    header .logo{
     width: 27vw;
}
header .logo h2{
    font-size: 25px;
}
header .logo small{
    font-size: 7.5px;
}
}
@media (max-width: 650px){
    .hero{
        flex-direction: column-reverse;
        padding: 1rem;
        height: 100vh;
    }
    .hero h1 {
        font-size: 32px;
    }
    .hero img {
        min-width: 250px;
        height: 350px;
    }

}